<html>
<head>
  <title>Sign in to Critter</title>
    <link rel='stylesheet' type='text/css' href='/css/normalize.css'></link>
    <link rel='stylesheet' type='text/css' href='/css/skeleton.css'></link>
    <link rel='stylesheet' type='text/css' href='/css/main.css'></link>
</head>
  <body>
      <div class='six-columns offset-by-three container'>

          {{{body}}}
    </div>
  </body>
</html>
