<div><img id='logo' src='./img/critter_logo.png' alt='critter logo'></div>
<h2>Secret Critter Page</h2>
<p>Welcome Critter {{userId}}</p>
  <div id='postNewTweet'>
      <a href='/newTweet'>Post a Tweet</a>
  </div>
  <br>
  <a href='/user/{{userId}}'>View my Profile</a> |
  <a href='/allTweets'>View All Creets</a> |
  <a href='/signOut'>Sign Out</a>
