<html>
<head>
  <title>Sign in to Critter</title>
  <link rel=stylesheet type='text/css' href='main.css'></link>
</head>
<body>
  <h2>Sign in to Critter!</h2>
  <form action='/signIn' method='POST'>
    <input type='text' placeholder='email' name='email' autofocus></input>
    <input type='password' placeholder='password' name='password'></input>
    <input type='submit' value='login'></input>
  </form>
    <a href='/signUp'>Sign Up</a>
</body>
</html>
