<div><img id='logo' src='./img/critter_logo.png' alt='critter logo'></div>
<h2>Welcome to Critter</h2>
<h6>Login to your account</h6>
  <form action='/signIn' method='POST'>
    <input type='text' placeholder='email' name='email'class='formField'></input>
    <input type='password' placeholder='password' name='password' class='formField'></input>
    <input type='submit' value='submit' class='submitButton'></input>
  </form>
    <div id='signUp'>New to Critter?<a href='/signUp'>Sign Up</a></div>
