<div><img id='logo' src='/img/critter_logo.png' alt='critter logo'></div>
<h1>Critter #{{user.Id}}'s profile'</h1>
<h4>Their Tweets:</h4>
<div class='creetPostContainer'>
  <div>
    {{#each data}}
    <p> # '{{this.tweeted}}' </p>
    {{/each}}
  </div>
</div>
<a href='/user/{{userId}}/follow'>Follow</a>
<a href='/allFollowing/{{userId}}'>Who is this critter following</a> |
<a href='/newTweet'>Post a Tweet></a> |
<a href='/allTweets'>View all Tweets></a> |
<a href='/signOut'>Sign Out</a>
