@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,100,300);

body {
background-color:#ce5044;
font-family: 'Roboto Slab', serif;
color:#fff;
}

p{
  color:#fff;
  font-weight: 300;
}

/*-------MAIN CONTAINER---------*/

.row{
  width:100%;
  text-align: center;
}

.container{
  margin:auto 0;
  text-align: center;
  border-radius:8px;
  position:absolute;
  top:50%;
  transform: translateY(-50%);
  width:100%;
}
/*------CRITTER LOGO-------*/

#logo{
  width:90%;
}

/*-----FORM FIELD---------*/
.formField{
    width: 65%;
    height:45px;
    border-radius: 5px;
    border: 1px solid #B4463A;
    box-sizing: border-box;
    padding-left: 10px;
}

/*------Misc'-------------*/
 #tube {
   color:#fff;
   font-weight: 100;
 }

a {
  color:#fff;
}

a:hover{
  color: #fff;
}

form {
  margin-bottom: 0;
}

h2, h6 {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  color:#fff;
}

h6 {
  font-weight: 100;
}

/*-----SUBMIT BUTTONS-------*/

.submitButton{
  width:65%;
  color:#fff;
  height:45px;
  font-size: 34px;
  font-weight: 100;
  background-color: transparent;
  border:none;
  cursor:pointer;
}

.submitButton:hover{
  font-weight: 400;
}

input[type='text'], input[type='password'], textarea {
  background-color:#F7FFFB;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
input{
  color:#000;
}

/*-----SUBMIT BUTTONS--------*/

#signUp {
 color:#fff;
 font-weight:100;
}

#signUp a{
  margin-left:10px;
  color:#fff;
  font-weight:100;
}

#signUp a:hover{
  font-weight:700;
}

/*---------creetPostConatiner------*/

.creetPostContainer{
  background: #fff;
  padding:20px;
  padding-bottom:1px;
  text-align:left;
  font-size: 16px;
  border-radius: 8px;
  margin-bottom:10px
}

.creetPostContainer p {
  color: #000;
}



#postNewTweet a{
  width:230px;
  height:45px;
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  background-color: transparent;
  border:1px solid #fff;
  cursor: pointer;
  border-radius: 3px;
  text-decoration: none;
  padding:10px;
}

#postNewTweet a:hover{
  background-color: #fff;
  color: #ce5044
}
